# Created by https://www.toptal.com/developers/gitignore/api/backup,racket
# Edit at https://www.toptal.com/developers/gitignore?templates=backup,racket

### Backup ###
*.bak
*.gho
*.ori
*.orig
*.tmp

### Racket ###
# gitignore template for the Racket language
# website: http://www.racket-lang.org/

# DrRacket autosave files
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

# Compiled racket bytecode
compiled/
*.zo

# Dependency tracking files
*.dep

#text documents for testing
*.txt

# End of https://www.toptal.com/developers/gitignore/api/backup,racket
